<div class="card mb-3 shadow-sm">
  <div class="card-body">
    <h5 class="card-title">Commande n°<%= order.id %></h5>
    <p class="card-text"><strong>Total :</strong> <%= order.total_price %> €</p>
  </div>
</div>
